.container {

  margin-bottom: 80px;
}

.cardsLayout {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.categoryTitle {
  font-weight: 600;
  font-size: 20px;
  color: #838383;
  margin-bottom: 20px;
}