.container {
  max-width: 1120px;
  margin: 0 auto;
  padding-left: 5px;
  padding-right: 5px;
  display: grid;
  grid-template-columns: 85px 1fr repeat(2, 25px);
  grid-column-gap: 30px;
  align-items: center;
}