.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: 400;
  font-size: 17px;
  color: #000;
}

.container {
  background-color: #fff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  padding: 30px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  column-gap: 107px;
}

.footerLinkWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.footerLinks {
  grid-area: 1 / 1 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  row-gap: 10px;
}

.footerLinks>li:nth-child(1) {
  grid-area: 1 / 1 / 2 / 2;
}

.footerLinks>li:nth-child(2) {
  grid-area: 2 / 1 / 3 / 2;
}

.footerLinks>li:nth-child(3) {
  grid-area: 3 / 1 / 4 / 2;
}

.footerLinks>li:nth-child(4) {
  grid-area: 1 / 2 / 2 / 3;
}

.footerLang {
  position: relative;
  display: flex;
  align-items: flex-start;
  gap: 17px;
  grid-area: 2 / 2 / 3 / 3;
  padding-left: 35px;
}

.footerLang::before {
  content: url(./img/Lang.svg);
  position: absolute;
  left: 0;
}

.footerSocial {
  display: flex;
  gap: 18px;
  align-items: center;
  align-self: start;
  justify-self: end;
}

.footerSocialImg:hover>path {
  fill: #ffa542;
}