.counter {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffa542;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  text-align: center;
}