@import "../node_modules/normalize.css/normalize.css";

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

a:hover {
  color: #ffa542;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #eaeaea;
}

h1,
h2,
h3,
h4,
ul,
li {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
}

ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
  font-weight: 600;
  font-size: 17px;
  font-family: inherit;
  color: black;
  cursor: pointer;
  transition: color 0.25s;
}

button:hover {
  color: #ffa542;
}

a {
  text-decoration: none;
  color: inherit;
}