:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 17px;
  color: #1c1c27;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: inherit;
}

a:hover {
  color: #ffa542;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #eaeaea;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #ffa542;
}